.sortThemes{
	font-size:12px;
	position:relative;
    padding-left: 40px;
    padding-right: 30px;
    overflow: hidden;
}
.sortThemes a{
	float:left;
	color:#67abc2;
	padding: 0 5px;
	height: 16px;
	margin-right: 9px;
	text-decoration: none;
	border: 1px solid #67abc2;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	position:relative;
	behavior: url(css/pie.htc);
	background:#fff;
    margin-bottom: 5px;
}
.sortThemes a:hover{
	border-color:#2d6071;
}
.sortThemes a.active{
    border: 1px solid #2C7284;
    background: none repeat scroll 0 0 #E1E7E8;
}

.sortThemes a.active:hover{
    border-color: #67ABC2;
}